* {
    margin: 0;
    padding: 0;
}

body {
    margin: 4% 6% 0% 6%;
    background-color: #f7f7f7;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    border-radius: 5px;
    margin: 4% 4% 4% 4%;
    padding-bottom: 2%;
}
  
.card:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.gradient {
    background-image: linear-gradient( #f0f0f0, white);
}

.featureTitle {
    text-align: center;
}

.rectangle{
    width:28px;
    height:4px;
    background:#f3546f;
}

.rectangleCenter {
    display: block;
    margin: 4% auto 4% auto;
}

.card img {
    display: block;
    margin: 4% auto 4% auto;
    padding: 30px 0px 30px 0px;
}

.container {
    padding: 8px 16px 8px 16px;
    margin-left: 4%;
    margin-right: 4%;
}

.floatRight {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #111111;
}

  
li img {
    height: 40px;
    padding-left: 4%;
}

.rectangleNav {
    display: block;
    margin: 0px 16px;
    width: 14px;
    background: #111111;;
}

.navElement:hover a{ 
    color: #f3546f;
}

.navElement:hover div{ 
    background: #f3546f;
}

* {
    box-sizing: border-box;
}
  
.column3 {
    float: left;
    width: 33.33%;
}

.column2 {
    float: left;
    max-width: 50%;
}

.column2 img {
    max-width:100%;
    max-height:100%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#intro {
    padding-top: 4%;
}

.btnGreen {
    background-color: #00d275;
    border: none;
    color: white;
    padding: 10px 28px 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 0px 80px 2%;
    border-radius: 42px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btnGreen:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}


h1{
    color: #f3546f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: large;
    margin-left: 2%;
}

h2{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 520;
    font-size: 46px;
    padding-right: 28%;
    margin-left: 2%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.redText{
    color: #f3546f;
}

.description {
    color: #f3546f;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    padding-top: 40px;
    padding-bottom: 8px;
}

p {
    color: #7b7b7e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: medium;
    padding-bottom: 40px;
}

.centerText {
    padding-top: 10px;
    text-align: center;

}

@media only screen and (max-width: 700px) {
    .column3 {
        float: none;
        width: 100%;
    }
    
    .column2 {
        float: none;
        max-width: 100%;
    }
    
    .column2 img {
        max-width:100%;
        max-height:100%;
    }
      
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .btnGreen {
        width: 100%;
    }


    h2 {
        font-size: 30px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
      
    li {
        float: none;
    }
      
    li a {
        display: block;
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
        color: #111111;
    }
    
      
    li img {
        height: 60px;
        padding-left: 4%;
    }

    .floatRight {
        float: none;
    }
    
    .rectangleNav {
        display: block;
        margin: 0px 16px 0px auto;
        width: 14px;
        background: #111111;;
    }

}